@font-face {
    font-family: helvetica;
    src: url(fonts/Helvetica.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(fonts/Helvetica-Bold.ttf);
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #f6f6f6;
    font-family: helvetica;
    color: #1e1e1e;
}
.navbar-brand {
    color: #1e1e1e;
}
.nav-link {
    color: #7d7d7d;
}
.nav-link:hover {
    color: #1e1e1e;
}
header {
    margin-top: 15%;
}
h1 {
    text-align: center;
    font-size: 150px;
}
header p {
    font-size: 18px;
}
br {
    content: "";
    margin: 20px;
    display: block;
}
span {
    font-family: helveticaBold;
}
#container {
    width: 80vw;
    height: 30vw;
    margin: 10vw auto 5vw;
    display: flex;
}
.whirlpool {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}
.ringA:before {
    content: '';
    border-radius: 50%;
    border: 0.3vw solid;
    position: absolute;
} 
.ringA0:before {
    left: 45%;
    width: 10%;
    top: 27%;
    height: 5%;
    animation: 2.5s ease -0.1s infinite spinnerA;
    border-color: #cf0303;
    /* border-color: rgb(230, 230, 230); */
}
.ringA1:before {
    left: 40%;
    width: 20%;
    top: 24%;
    height: 10%;
    animation: 2.5s ease 0s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}

.ringA2:before {
    left: 35%;
    width: 30%;
    top: 21%;
    height: 15%;
    animation: 2.5s ease 0.1s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}

.ringA3:before {
    left: 30%;
    width: 40%;
    top: 18%;
    height: 20%;
    animation: 2.5s ease 0.2s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringA4:before {
    left: 25%;
    width: 50%;
    top: 15%;
    height: 25%;
    animation: 2.5s ease 0.3s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringA5:before {
    left: 20%;
    width: 60%;
    top: 12%;
    height: 30%;
    animation: 2.5s ease 0.4s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringA6:before {
    left: 15%;
    width: 70%;
    top: 9%;
    height: 35%;
    animation: 2.5s ease 0.5s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringA7:before {
    left: 10%;
    width: 80%;
    top: 6%;
    height: 40%;
    animation: 2.5s ease 0.6s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringA8:before {
    left: 5%;
    width: 90%;
    top: 3%;
    height: 45%;
    animation: 2.5s ease 0.7s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringA9:before {
    width: 100%;
    height: 50%;
    animation: 2.5s ease 0.8s infinite spinnerA;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
@keyframes spinnerA {
    0% {
        transform: translate(0px, 0px);
        animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
        /* animation-timing-function: ease-in-out; */
    }
    50% {
        transform: translate(0px, 8vw);
        animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
        /* animation-timing-function: ease-in-out; */
    }
    100% {
        transform: translate(0px, 0px);
        animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
        /* animation-timing-function: ease-in-out; */
    }
}

 .carousel-indicators {
    position: unset;
 }
 .carousel-indicators [data-bs-target] {
    background-color: #7d7d7d;
    height: 12px;
    width: 12px;
    border-radius: 50%;
 }
 .carousel-indicators .active {
    background-color: #cf0303;
 }
 .carousel-caption {
    background-color: rgba(30, 30, 30, 0.6);
    width: 80%;
    left: 10%;
    right: 10%;
    color: #f6f6f6;
 }
 .carousel-caption h5 {
    font-size: 20px;
    font-family: helveticaBold;
 }
 .carousel-caption p {
    font-size: 14px;
    margin-bottom: 0;
    padding: 0 5%;
 }
 .carousel-control-next-icon, .carousel-control-prev-icon {
    margin-bottom: 40px;
 }

 footer {
    background-color: #7d7d7d;
    align-items: center;
    margin-top: 10%;
 }
 footer p {
    font-size: 14px;
    color: #f6f6f6;
    margin: 0 10%;
 }
 footer i {
    color: #f6f6f6;
    font-size: 32px;
 }
 .subpag-header {
    margin-top: 10%;
    margin-bottom: 15%;
 }
 .subpag-header h1 {
    font-size: 120px;
 }
 .sub-section {
    margin: 15% auto;
 }
 .sub-section-txt h3 {
    font-size: 40px
 }



.accordion-item {
    color: #1e1e1e;
    background-color: #f6f6f6;
    border-color: #7d7d7d;
    box-shadow: 5px 5px #7d7d7d;
}
.accordion-flush .accordion-item {
    border-top: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-left: solid 2px;
}
.accordion-flush .accordion-item:first-child {
    border-top: solid 2px;
}
.accordion-flush .accordion-item:last-child {
    border-bottom: solid 2px;
}
.accordion-button {
    font-size: 40px;
    background-color: #f6f6f6;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: #1e1e1e;
    background-color: #f6f6f6;
}
.accordion-body {
    margin-bottom: 20px;
}

#galeria {
    gap: 20px 10px;
}

#galeria a {
    text-decoration: none;
    width: 15%;
}

.lb-data .lb-caption {
    font-family: helvetica;
    font-size: 15px;
}
.lb-data .lb-caption span {
    font-family: helveticaBold;
    font-size: 16px;
}

.galeria-thumbnail {
    width: 100%;
}

.subheader {
    font-size: 60px;
}

form {
    padding: 50px;
    background:
    linear-gradient(to right, #7d7d7d 1px, transparent 1px) 0 0,
    linear-gradient(to right, #7d7d7d 1px, transparent 1px) 0 100%,
    linear-gradient(to left, #7d7d7d 1px, transparent 1px) 100% 0,
    linear-gradient(to left, #7d7d7d 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, #7d7d7d 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, #7d7d7d 1px, transparent 1px) 100% 0,
    linear-gradient(to top, #7d7d7d 1px, transparent 1px) 0 100%,
    linear-gradient(to top, #7d7d7d 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
form h3 {
    color: #7d7d7d;
}
.form-control {
    font-size: 18px;
    background-color: #f6f6f6;
    transition: 1s;
    border: none;
    color: #1e1e1e;
    border-bottom: solid;
    border-radius: 0;
    border-color: #f6f6f6;
}
.form-control:focus {
    background-color: #f6f6f6;
    color: #7d7d7d;
    border-color: #7d7d7d;
    box-shadow: none;
}
.form-control:hover {
    border-color: #7d7d7d;
}
#btnEnviarContacto {
    color: #1e1e1e;
    width: fit-content;
}
#btnEnviarContacto:hover {
    border-color: #cf0303;
}
.form-control::placeholder {
    color: #cccccc;
}
textarea {
    resize: none;
    height: 100px;
}


#container2 {
    width: 80vw;
    height: 15vw;
    margin: 10vw 15vw 5vw 5vw;
    display: flex;
}
.ringB:before {
    content: '';
    border-radius: 50%;
    border: 0.3vw solid;
    position: absolute;
} 
.ringB0:before {
    left: 45%;
    width: 10%;
    top: 45%;
    height: 10%;
    animation: 2.5s ease 0s infinite spinnerB;
    border-color: #cf0303;
    /* border-color: rgb(230, 230, 230); */
}
.ringB1:before {
    left: 40%;
    width: 20%;
    top: 40%;
    height: 20%;
    animation: 2.5s ease 0.2s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}

.ringB2:before {
    left: 35%;
    width: 30%;
    top: 35%;
    height: 30%;
    animation: 2.5s ease 0.4s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}

.ringB3:before {
    left: 30%;
    width: 40%;
    top: 30%;
    height: 40%;
    animation: 2.5s ease 0.6s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringB4:before {
    left: 25%;
    width: 50%;
    top: 25%;
    height: 50%;
    animation: 2.5s ease 0.8s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringB5:before {
    left: 20%;
    width: 60%;
    top: 20%;
    height: 60%;
    animation: 2.5s ease 1s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringB6:before {
    left: 15%;
    width: 70%;
    top: 15%;
    height: 70%;
    animation: 2.5s ease 1.2s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringB7:before {
    left: 10%;
    width: 80%;
    top: 10%;
    height: 80%;
    animation: 2.5s ease 1.4s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringB8:before {
    left: 5%;
    width: 90%;
    top: 5%;
    height: 90%;
    animation: 2.5s ease 1.6s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
.ringB9:before {
    width: 100%;
    height: 100%;
    animation: 2.5s ease 1.8s infinite spinnerB;
    border-color: #7d7d7d;
    /* border-color: rgb(230, 230, 230); */
}
@keyframes spinnerB {
    0% {
        transform: translate(0px, 0px);
        /* animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); */
        /* animation-timing-function: ease-in-out; */
    }
    50% {
        transform: translate(8vw, 0px);
        /* animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); */
        /* animation-timing-function: ease-in-out; */
    }
    100% {
        transform: translate(0px, 0px);
        /* animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); */
        /* animation-timing-function: ease-in-out; */
    }
}